/* modification for prism.css */

code[class*="language-"], pre[class*="language-"] {
    tab-size: 1;
}


/* end modification for prism.css */
body {
  margin: 0;
  padding: 0;
}
.sidebar {
  margin-top: 79px;

}
.clouds-wrapper, .content_mountains, .moon {
  display: none;
}

.page {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.pageanimtransitransfo {
  width: 100%;
  background-color: rgba(128, 128, 128,0.2);
  padding: 50px;
  animation-name: jump;
  animation-duration: 3s;
  z-index: 10;
}


.page .animation, .page .transition, .page .transformation {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 250px;
    color: white;
    height: 250px;
    border-radius: 250px;

}
.page .transition, .page .transformation {
margin-left: 200px;
}
.page .animation, .page .transition, .page .transformation {
    background-color: orangered;
    color: white;
    position: relative;
    transition: all 0.2s ease-in-out;
    z-index: 1;
}
.tutolink {
  width: 60%;
  display: inline-block;
  float: left;
}
.tuto {
  text-align:center;
  background-color: #129D86;
  height: 300px;

}
.deuxpetitesdiv {
}
.tuto h2 {
  line-height: 233.69px;
  color: white;
  font-size: 2em;
  margin: 0;
}

.page .animation:before, .page .transition:before, .page .transformation:before {
    content: "";
    position: absolute;
    width: 40%;
    height: 4px;
    bottom: 40%;
    left: 30%;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.page .animation:hover:before, .page .transition:hover:before, .page .transformation:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.page .animation:hover, .page .transition:hover, .page .transformation:hover  {
    z-index: 2;
}

.transition h1, .transformation h1, .animation h1 {
  text-shadow: 1px 1px grey;
  font-size: 1.6em;
  line-height: 250px;
  margin: 0;
  padding: 0;
}

.ball {
    animation-direction:alternate-reverse;
    border-radius: 6px;
    animation-duration: 40s;
    position: absolute;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -1;
}
.cercle {
  display: inline-block;
}
#balles {
  overflow: hidden;
}
.pagevivezlexperience {
  width: 40%;
  height:600px;
  background-color: rgb(0, 139, 139);
  animation-name: jump;
  animation-duration: 4s;
  display: inline-block;
  float: left;
}
.atelier {
  margin: auto;
  margin-top: 20vh;
}
 .atelier .title {
      margin: auto;
      display: block;
      color: white;
      font-size: 2em;
      text-transform: uppercase;
      margin-bottom: 2%;
      padding: 5% 0% 0% 0%;
      z-index: 1;
    }
.pagevivezlexperience .atelier a {
  margin: auto;
  display: block;
  background-color: none;
  text-decoration: none;
  padding: 10px;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  width: 200px;
  text-align: center;
  transition: all 0.3s linear;
  z-index: 1;
}
.atelier a:hover {
  background-color: white;
  color: darkcyan;
  width: 300px;
}
.referencediv {
  display: inline-block;
  float: left;
  color: white;
  height: 300px;
  width: 60%;
  background-color: orangered;
}
.referencediv h2 {
  padding: 0;
  margin: 0;
  font-size: 2em;
  line-height: 235.8px;
}

/*@media (max-width: 820px) {
	.page .animation, .page .transition {
		width: 300px;
		height: 300px;
	}
  .page .transition:before {
    bottom:45%;
    left: 30%;
  }

}
@media (max-width: 602px) {
  .page {
    width: auto;
    text-align: center;
  }
  .page .transition {
    margin-left: -203px;
  }
}
.page .transition::before{
  bottom: 60%;
}
.page .animation::before{
  top: 65%;
}
@media (max-width: 448px) {
  .page {
    width: 100%;
    margin-left:0;
  }
  .page .animation, .page .transition {
		width: 200px;
		height: 200px;
	}
  .page .animation {
    left: 0;
    top: 250;
  }
  .page .transition::before{
    bottom: 60%;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
    .page .animation::before{
      bottom: 30%;
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
    .animation h1 {
      margin-top: 40%;

    }
}*/
