/* modification for prism.css */

code[class*="language-"], pre[class*="language-"] {
    tab-size: 1;
}


/* end modification for prism.css */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;

}
.sidebar {
  margin-top: 79px;

}

.page {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 20vh;
    text-align: center;
}
.page a {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.page .animation, .page .transition {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
    color: white;
    height: 300px;
    animation-iteration-count: 1;
    transition: all 0.2s ease-in-out;
    animation-duration: 0.8s;

}

.page .animation {
    margin-top: 10px;
    background-color: #E1141B;
    color: white;
    animation-name: drop;
    position: relative;
    top: 300;
    left: 100;
    transition: all 0.2s ease-in-out;
    -moz-box-shadow: -5px 5px 5px -2px rgb(0, 0, 0);
    -webkit-box-shadow: -5px 5px 5px -2px rgb(0, 0, 0);
    -o-box-shadow: -5px 5px 5px -2px rgb(0, 0, 0);
    box-shadow: -5px 5px 5px -2px rgb(0, 0, 0);
    z-index: 1;
}

.page .animation:before {
    content: "";
    position: absolute;
    width: 40%;
    height: 4px;
    bottom: 60%;
    left: 30%;
    background-color: #00F076;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.page .animation:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.page .animation:hover {
    color: #00F076;
    z-index: 2;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.page .transition {
    background-color: #00F076;
    color: white;
    position: relative;
    transition: all 0.2s ease-in-out;
    animation-name: jump;
    margin-left: -10px;
    z-index: 1;
    -moz-box-shadow: 5px -5px 5px -2px #656565;
    -webkit-box-shadow: 5px -5px 5px -2px #656565;
    -o-box-shadow: 5px -5px 5px -2px #656565;
    box-shadow: 5px -5px 5px -2px #656565;
}
.transition h1 {
  margin-top: 45%;
  text-shadow: 1px 1px grey;
}
.animation h1 {
  margin-top: 45%;
  text-shadow: 1px 1px grey;

}
.page .transition:before {
    content: "";
    position: absolute;
    width: 40%;
    height: 4px;
    bottom: 50%;
    left: 30.5%;
    background-color: #E1141B;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.page .transition:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.page .transition:hover {
    color: #E1141B;
      z-index: 2;
}

@keyframes drop {
    0% {
        transform: translateY(-800px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes jump {
    0% {
        transform: translateY(800px);
    }
    100% {
        transform: translateY(0px);
    }
}

.ball {
    width:6px;
    height: 6px;
    top: 0;
    animation-direction:alternate-reverse;
    /*left: 50%;*/
    border-radius: 6px;
    animation-duration: 16s;
    opacity: 1;
    position: absolute;
    z-index: -102;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /*-moz-box-shadow: 5px 5px 20px 0px rgba(77, 77, 77, 0.5);
    -webkit-box-shadow: 5px 5px 20px 0px rgba(77, 77, 77, 0.5);
    -o-box-shadow: 5px 5px 20px 0px rgba(77, 77, 77, 0.5);
    box-shadow: 5px 5px 20px 0px rgba(77, 77, 77, 0.5);*/
}

@media (max-width: 820px) {
	.page .animation, .page .transition {
		width: 300px;
		height: 300px;
	}
  .page .transition:before {
    bottom:45%;
    left: 30%;
  }

}
@media (max-width: 602px) {
  .page {
    width: auto;
    text-align: center;
  }
  .page .transition {
    margin-left: -203px;
  }
}
.page .transition::before{
  bottom: 60%;
}
.page .animation::before{
  top: 65%;
}
@media (max-width: 448px) {
  .page {
    width: 100%;
    margin-left:0;
  }
  .page .animation, .page .transition {
		width: 200px;
		height: 200px;
	}
  .page .animation {
    left: 0;
    top: 250;
  }
  .page .transition::before{
    bottom: 60%;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
    .page .animation::before{
      bottom: 30%;
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
    .animation h1 {
      margin-top: 40%;

    }
}
